.catalog {
  background-color: var(--grey-color);
  color: var(--black-color);
}
.definition,
.quality {
  width: 80%;
}

.logo {
  padding-top: 3.125rem;
  margin-bottom: 2.25rem;
}

.definition {
  margin: 0 auto 1.25rem;

  font-size: 1.25rem;
  line-height: 1.4375rem;
}

.quality {
  margin: 0 auto 4.375rem;

  font-size: 1.125rem;
  line-height: 1.3125rem;
}

.logo,
.description {
  text-align: center;
}

.items {
  padding: 0 0.9375rem 5rem;
}

@media (max-width: 1300px) {
  .items {
    padding: 0 3rem 5rem;
  }
}

@media (max-width: 1024px) {
  .items img {
    width: 100%;
  }
}

.item {
  border-radius: 20px;
  border: 5px solid var(--dark-green-color);
  text-align: center;
  overflow: hidden;
  background-color: var(--white-color);
}

@media (max-width: 1024px) {
  .item:nth-child(1) .image {
    margin-bottom: 5.9375rem;
  }
  .item:nth-child(5) .image {
    margin-bottom: 3.375rem;
  }
}

@media (max-width: 768px) {
  .item:nth-child(1) .image {
    margin-bottom: 2.0375rem;
  }
  .item:nth-child(5) .image {
    margin-bottom: 2.275rem;
  }
}

@media (max-width: 768px) {
  .item .image img {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: column;
  row-gap: 4.1875rem;
  justify-items: center;
  column-gap: 5rem;
}

@media (max-width: 1300px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    justify-items: initial;
  }
}

.knife .image {
  margin-bottom: 0.6rem;
}

.firstKnife .image {
  margin-bottom: 1.7rem;
}

@media (max-width: 1024px) {
  .knife .image {
    margin-bottom: 0;
  }
  
  .firstKnife .image {
    margin-bottom: 0;
  }
}

.thomas {
  text-align: center;
  margin-top: 15.5rem;
  margin-bottom: 3.4375rem;
}

@media (max-width: 768px) {
  .thomas {
    margin-top: 8.5rem;
  }
}

.thomas img {
  width: 50%;
}

.benefits {
  text-align: center;
}

.image {
  margin-bottom: 2.25rem;
}

@media (max-width: 768px) {
  .image {
    margin-bottom: 0.375rem;
  }
}

.info {
  padding-left: 6.25rem;
}

.title,
.count {
  text-align: left;
  font-size: 1.875rem;
  line-height: 1.375rem;
}

@media (max-width: 1024px) {
  .info {
    padding-left: 3.25rem;
  }
}

@media (max-width: 768px) {
  .title,
  .count {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .info {
    padding-left: 2.9375rem;
  }
}

@media (max-width: 340px) {
  .info {
    padding-left: 1.1375rem;
  }
}

.title {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.65rem;
}

@media (max-width: 768px) {
  .title {
    margin-bottom: 0.3125rem;
  }
}

.count {
  text-align: left;
  margin-bottom: 1.5625rem;
}

@media (max-width: 768px) {
  .count {
    margin-bottom: 0.4375rem;
  }
}

.price {
  display: flex;
  align-items: center;
  background-color: var(--red-color);

  padding: 1.375rem;
  margin-right: 4.0625rem;
  margin-bottom: 1.25rem;

  color: var(--white-color);
  font-size: 3rem;
  line-height: 1.375rem;
  font-weight: 300;

  border-radius: 20px;
}

@media (max-width: 1300px) {
  .price {
    max-width: 50%;
  }
}

@media (max-width: 1024px) {
  .price {
    margin: 0 2.075rem 1.25rem 0;
    line-height: 1;
    font-size: 2.1rem;
  }
}

@media (max-width: 768px) {
  .price {
    padding: 0.6875rem 0.4375rem;
    font-size: 1.525rem;
    line-height: 22px;
    margin: 0 32px 5px 0;
    max-width: 100%;
  }
}

@media (max-width: 420px) {
  .price {
    font-size: 1.025rem;
  }
}

.price span {
  display: inline-block;
  font-weight: bold;
  margin-right: 0.625rem;
}

.price img {
  margin-left: 10px;
  transform: rotate(-25deg);
}

@media (max-width: 1024px) {
  .price img {
    width: 100px;
  }
}

@media (max-width: 768px) {
  .price img {
    margin-left: auto;
    width: 30%;
  }
}

.retail {
  text-align: left;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.375rem;
  margin-bottom: 0.875rem;
}

@media (max-width: 420px) {
  .retail {
    font-size: 1.125rem;
  }
}
/* APP */

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}

.ctaTitle {
  color: var(--dark-orange-color);
  font-family: 'Daxline Pro', sans-serif;
  font-weight: 900;
  font-size: 2.25rem;
  line-height: 3.5rem;
  margin-bottom: 1.875rem;
}

.ctaTitle span {
  display: block;
  font-size: 4.5rem;
  line-height: 4.5rem;
}

@media (max-width: 768px) {
  .ctaTitle {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 1.5625rem;
  }

  .ctaTitle span {
    font-size: 3.4375rem;
    line-height: 3.4375rem;
  }
}

.ctaImage {
  margin-top: -4.375rem;
}

@media (max-width: 768px) {
  .ctaImage img {
    width: 100%;
  }
}

.qr {
  margin-bottom: 3.5625rem;
}

@media (max-width: 768px) {
  .qr {
    display: none;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .links {
    order: 1;
    align-items: center;
    margin-top: 0;
    margin-bottom: 1.875rem;
  }
}
