.header {
  background-color: var(--light-green-color);
  background-image: url('../../assets/images/header-bg.png');
  background-repeat: no-repeat;
  background-position: top 40px right -30px;
  background-size: 520px;
  position: relative;

  color: var(--dark-green-color);
}

@media (max-width: 1024px) {
  .header {
    background-position: top 180px right -20px;
    background-size: 340px;
  }
}

@media (max-width: 768px) {
  .header {
    background-size: 250px;
    background-position: top 330px right -25px;
  }
}

@media (max-width: 420px) {
  .header {
    background-size: 160px;
    background-position: bottom -40px right -25px;
  }
}

.thomas {
  margin-right: 1.25rem;
}

.dixy img,
.thomas img {
  width: 100%;
}

@media (max-width: 1024px) {
  .dixy {
    margin-left: auto;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
  margin-bottom: .625rem;
}

@media (max-width: 420px) {
  .row {
    flex-wrap: wrap;
    gap: 15px;
  }
}

.signature {
  text-align: left;
  font-size: 2.5rem;

  line-height: 2.75rem;
  margin-top: 21px;
  margin-bottom: 5.375rem;
  font-weight: bold;
}

@media (max-width: 420px) {
  .signature {
    font-size: 1.9rem;
    margin-bottom: 3.375rem;
  }
}

.title {
  font-family: 'Daxline Pro', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 5.875rem;
}

@media (max-width: 1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 2.3rem;
  }
}

@media (max-width: 420px) {
  .title {
    width: 66%;
    font-size: 1.6rem;
    line-height: 2.4rem;
    margin-bottom: 7.875rem;
  }
}

.subtitle {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-left: auto;
  margin-bottom: 4.625rem;
}

@media (max-width: 1024px) {
  .subtitle {
    margin-bottom: 3.275rem;
  }
}

@media (max-width: 768px) {
  .subtitle {
    margin-bottom: 0;
  }
}

@media (max-width: 420px) {
  .subtitle {
    margin-left: 0;
  }
}

.victoria {
  margin-right: 1.875rem;
}

@media (max-width: 1024px) {
  .victoria img {
    width: 100%;
  }
}

.sale {
  width: 57%;
  height: 152px;
  display: flex;
  align-items: center;

  background: var(--white-color);

  border: 1px solid var(--green-color);
  box-shadow: 0px 4px 7px rgba(187, 187, 187, 0.25);
  border-radius: 20px;
  margin-left: 3.125rem;
  margin-bottom: 4.4375rem;
}

@media (max-width: 1024px) {
  .sale {
    width: 63%;
  }
}

@media (max-width: 768px) {
  .sale {
    height: 122px;
  }
}

@media (max-width: 550px) {
  .sale {
    width: 80%;
    height: 90px;
  }
}

.saleCircle {
  position: absolute;
  left: -30px;
}

.saleCircle img {
  width: 150%;
}

@media (max-width: 1024px) {
  .saleCircle {
    left: -20px;
  }
}

@media (max-width: 768px) {
  .saleCircle img {
    width: 120%;
  }
}

@media (max-width: 420px) {
  .saleCircle img {
    width: 60%;
  }
}

.sale p {
  font-size: 2rem;
  line-height: 2.3125rem;
  color: var(--dark-green-color);
  padding-left: 15rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
}

@media (max-width: 1024px) {
  .sale p {
    font-size: 1.1rem;
    padding-left: 15.5rem;
  }
}

@media (max-width: 768px) {
  .sale p {
    font-size: 0.9rem;
    line-height: 1.8125rem;
    padding-left: 11.5rem;
  }
}

@media (max-width: 420px) {
  .sale p {
    font-size: 0.8rem;
    line-height: 1.1125rem;
    padding-left: 4rem;
  }
}

.cards {
  display: flex;
  position: relative;
  margin-left: auto;
}

.cards img {
  position: absolute;
  top: -78px;
}

@media (max-width: 768px) {
  .cards img {
    width: 120px;
  }
}

@media (max-width: 420px) {
  .cards img {
    width: 100px;
  }
}

.cards img:nth-child(2) {
  top: -64px;
  right: 0;
  transform: rotate(-22deg);
}

.cards img:nth-child(1) {
  top: -90px;
  right: -20px;
}

@media (max-width: 768px) {
  .cards img:nth-child(1) {
    top: -60px;
  }
  .cards img:nth-child(2) {
    top: -34px;
  }
}

.equality {
  position: absolute;
  max-width: 360px;
  padding: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 2.6875rem;
  background-color: var(--white-color);
  border-radius: 20px;
  border: 5px solid var(--light-green-color);

  bottom: -145px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .equality {
    width: 350px;
  }
}

@media (max-width: 420px) {
  .equality {
    padding: 0.675rem;
    width: 220px;
    bottom: -95px;
  }
}

.equality img {
  margin-top: 0.9375rem;
}

@media (max-width: 420px) {
  .equality img {
    width: 30%;
    margin-top: 0;
    margin-bottom: 0.9375rem;
  }
}
.redBg {
  background: var(--red-color);
  border-radius: 20px;

  padding: 0.625rem 0.9375rem;

  color: #fff;
}

.one {
  position: relative;
}

.one::after {
  content: 'наклейка';
  font-size: 0.875rem;
  position: absolute;
  left: -20px;
  bottom: -10px;
}

.bullet {
  font-size: 3rem;
  font-weight: bold;

  color: var(--orange-color);
}

@media (max-width: 420px) {
  .bullet {
    font-size: 1.7rem;
  }
}
