.footer {
  text-align: center;
  padding: 2.8125rem 1rem;
  background-color: var(--light-black-color);
}

.footer p {
  width: 79%;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.875rem;
}

.footer p:first-child {
  margin-bottom: 1.5625rem;
  font-weight: bold;
}