.rules {
  margin-top: 10.625rem;
  color: var(--black-color);
}

.title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.375rem;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 3.75rem;
}

@media (max-width: 420px) {
  .title {
    margin-bottom: 1.875rem;
  }
}

.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  grid-gap: 3.75rem;
  margin-bottom: 3.75rem;
}

@media (max-width: 768px) {
  .wrap {
    grid-template-columns: 1fr;
  }
}

.rule {
  display: flex;
  gap: 1.5625rem;
  align-items: center;
}

@media (max-width: 768px) {
  .rule {
    flex-direction: column;
    text-align: center;
  }
}

.description {
  max-width: 334px;
}

.redBg {
  background: var(--red-color);
  border-radius: 20px;

  padding: 0.625rem 0.9375rem;

  color: #fff;
}

.one {
  position: relative;
}

.one::after {
  content: 'наклейка';
  font-size: 0.875rem;
  position: absolute;
  left: -20px;
  bottom: -10px;
}

.buttonBlock {
  margin-bottom: 3.4375rem;
  text-align: center;
}

.buttonBlock button {
  border: 0;
  cursor: pointer;

  padding: 20px 45px;
  background-color: var(--dark-green-color);
  border-radius: 16px;

  color: var(--white-color);
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;

  transition: background-color 0.2s;
}

.buttonBlock button:hover {
  /* background-color: var(--dark-orange-color); */
}

.thomasGrey {
  vertical-align: middle;
}
